real_data/

sim_data/

dataset/dataset_1/
dataset/dataset_2/
dataset/dataset_3/
dataset/dataset4/
dataset/processed_data/
dataset/processed_data_2/
dataset/unet.pth

ctdataset/SE0
ctdataset/SE1
ctdataset/SE2
ctdataset/SE3
ctdataset/SE4
ctdataset/SE5
ctdataset/SE6

output/

train.log